@import url(reset.css);

/*main.css*/

/*common*/
a{text-decoration:none;color:#000}
a:hover{text-decoration:underline}
strong{font-weight:bold;font-size:11px}

/*layout*/
#wrap{width:970px; margin: 0 auto;
	  font-family:"lucida grande",Tahoma,Verdana,Helvetica,sans-serif,"나눔고딕",NanumGothic,"돋움",Dotum}
	#header{height:96px;padding-top:23px;position:relative;border-top:2px solid #000}
	#container{}
	#footer{clear:both;padding-top:15px;height:46px;
			border-top:1px solid #a3a3a3}

/*header*/
h1{padding:20px 0 41px 0;float:left}

.topMenu{float:right;position:absolute;left:797px;top:10px}
.topMenu li{float:left;padding-left:10px;overflow:hidden;text-indent:-9999px}
.topMenu li a{display:block;height:18px}
.topMenu .kor a{width:29px;background:url(../images/topmenu1.gif) no-repeat 0 -18px}
.topMenu .eng a{width:31px;background:url(../images/topmenu2.gif) no-repeat 0 -18px}
.topMenu .chi a{width:31px;background:url(../images/topmenu3.gif) no-repeat 0 -18px}
.topMenu .jap a{width:37px;background:url(../images/topmenu4.gif) no-repeat 0 -18px}
.topMenu .kor .selected{background-position:0 0}
.topMenu li a:hover{background-position: 0 0}

.gnb{float:left;padding-top:35px}
.gnb li{padding-right:29px;float:left;overflow:hidden;text-indent:-9999px}
.gnb li a{display:block;height:18px}
.gnb .g1 a{width:42px;background:url(../images/gnbmenu1.gif) no-repeat 0 0}
.gnb .g1{padding-left:50px}
.gnb .g2 a{width:39px;background:url(../images/gnbmenu2.gif) no-repeat 0 0}
.gnb .g3 a{width:50px;background:url(../images/gnbmenu3.gif) no-repeat 0 0}
.gnb .g4 a{width:47px;background:url(../images/gnbmenu4.gif) no-repeat 0 0}
.gnb .g5 a{width:58px;background:url(../images/gnbmenu5.gif) no-repeat 0 0}
.gnb .g6 a{width:75px;background:url(../images/gnbmenu6.gif) no-repeat 0 0}
.gnb .g7 a{width:44px;background:url(../images/gnbmenu7.gif) no-repeat 0 0}
.gnb .g8 a{width:16px;background:url(../images/gnbmenu8.gif) no-repeat 0 0}
.gnb .g8{padding-right:0}
.gnb li a:hover{background-position:0 -18px}

#header form{padding-top:33px;float:right}
#header form input{width:120px;vertical-align:middle}

/*container*/
.content_area{margin-top:30px;}
.dl_img{float:left}
.dl_txt{float:right;font-size:10px}

/*main_visual*/
.main_tab{width:970px;height:450px;position:relative}
.main_tab dt{float:left;padding-right:6px;position:relative;left:440px;top:417px;z-index:2}
.main_tab dd{position:absolute;left:0;top:0;z-index:1}

/*content_area*/
.content_area{height:150px}
.content_area span{float:right;color:#5f5f5f}
.cont_box_notice,.cont_box_mv,.cont_box_news{position:relative;float:left;padding-right:20px;width:225px}
.news_tab,.mv_tab{padding-top:20px;}
.news_tab .nwdd,.mv_tab .mvdd{float:left;
							  font-family:"lucida grande",Tahoma,Verdana,Arial,Helvetica,sans-serif,나눔고딕,"NanumGothic",돋움,"Dotum"}
.cont_box_notice h2,.cont_box_mv h2,.cont_box_news h2,.cont_box_yglife h2{width:195px;height:37px;background:#efefef;padding:0 15px 0 15px}																		
.cont_box_notice h2 img,.cont_box_mv h2 img,.cont_box_news h2 img,.cont_box_yglife h2 img{position:absolute;top:10px;left:10px}
.notice_tab,.mv_tab,.news_tab,.yglife_tab{position:relative;background:#efefef;margin-top:3px;width:195px;height:100px;padding:0 15px 0 15px}
.cont_box_notice .more,.cont_box_mv .more,.cont_box_news .more,.cont_box_yglife .more{position:absolute;left:190px;top:15px}

.mv_tab .mvdd .dl_img,.news_tab .nwdd .dl_img{padding-top:10px;position:absolute;top:0;left:15px;}
.btn1{position:absolute;left:175px;top:5px;}
.btn2{position:absolute;left:180px;top:5px;}

/*cont_box_notice*/
.cont_box_notice dt{float:left}
.cont_box_notice dd{font-size:10px;position:absolute;top:27px;left:22px;color:#707982;
					font-family:"lucida grande",Tahoma,Verdana,Arial,Helvetica,sans-serif,나눔고딕,"NanumGothic",돋움,"Dotum"}
#n1 .nli1{padding:0 0 5px 0;color:#707982;}
#n1 .nli2{padding:5px 0 0 0;border-top:1px solid #c9c9c9;color:#707982;}
#n2 .nli3{padding:0 0 5px 0;color:#707982;}
#n2 .nli4{padding:5px 0 0 0;border-top:1px solid #c9c9c9;color:#707982;}

/*cont_box_mv*/
.mv_tab dt{position:relative;float:left;margin:75px 0 0 0;}
.mv_tab .mvdd .dl_txt{position:absolute;top:-63px;left:120px;padding-left:10px}

/*cont_box_news*/
.news_tab dt{position:relative;float:left;margin:77px 0 0 0}
.news_tab .nwdd .dl_txt{position:absolute;top:10px;left:120px;padding-left:10px}

/*cont_box_yglife*/
.cont_box_yglife{position:relative;float:right;}
.cont_box_yglife li{font-size:10px;
					font-family:"lucida grande",Tahoma,Verdana,Arial,Helvetica,sans-serif,나눔고딕,"NanumGothic",돋움,"Dotum"}
.yli1{padding:20px 0 10px 0}
.yli2{padding-top:10px;border-top:1px solid #c9c9c9}


/*content_area_b*/
.content_area_b{clear:both;width:970px;height:104px;position:relative;
				background:url(../images/subbnr_20130913.jpg) no-repeat 0 0}
.content_area_b li{float:left}
.content_area_b li a{position:relative;display:block;height:104px;
					 overflow:hidden;text-indent:-9999px}
.content_area_b .cab1 a{left:0;top:0;width:240px}
.content_area_b .cab2 a{left:0;top:0;width:241px}
.content_area_b .cab3 a{left:0;top:0;width:240px}
.content_area_b .cab4 a{left:0;top:0;width:241px}

/*sns_network*/
.sns_network li{float:right;padding-top:55px}
.sns_network .txt_network{float:left;padding-left:595px;padding-top:58px}

/*footer*/

/*nav*/
.foot_area{clear:both;position:relative;width:970px;height:37px}
.yg_logo,.cright{float:left}
.yg_logo{padding-right:10px}
.nav{float:right}
.nav li{float:left}
.nav1{position:absolute;left:580px;top:0;}
.nav2{position:absolute;left:650px;top:-18px;}

/*family*/
#footer form{position:relative;top:0;left:835px}
#footer form option{color:#fff}
#selected{font-size:10px;font-family:arial;color:#fff;background:#727272;width:140px;
		  text-align:left}



